<div class="jumbotron text-center">
    <h1>About Beat Goliath</h1>
    <h3>WA sampling competition website to take down the Titans</h3>
</div>
<div class="row">
        <div class="col-md-12">
        <div class="well">
            <p>
                Beat Goliath is a website where upcoming, amateur producers and beat-mixers can 
                compete in weekly competitions for recognition.  They will download the sample
                of the week, chop it up, and use it in their track.  At the end of the week, they
                submit their track to the site and members will rate the tracks anonymously.  At
                the end of the following week, the winning contestants are recognized on the home
                page.
            </p>
            
        </div>
    </div>
    
</div>
